<tr>
  <td><%= exam.created_at.strftime t("time") %></td>
  <td><%= exam.category.name %></td>
  <td><%= exam.status %></td>
  <td><%= exam.duration %></td>
  <td><%= exam.number_question %></td>
  <td><%= exam.spent_time %></td>
  <td><%= exam.mark %></td>
  <td><%= render "submit_action", exam: exam %></td>
</tr>
